<!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="index.html">Trent G<span>.</span></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav ">
            <li data-menuanchor="firstPage"><a href="#firstPage" class="page-scroll">Home</a></li>
            <li data-menuanchor="secondPage"><a href="#secondPage"  class="page-scroll">About</a></li>
            <li data-menuanchor="thirdPage"><a href="#thirdPage"  class="page-scroll">Demo</a></li>
            <li data-menuanchor="fourthPage"><a href="#fourthPage"  class="page-scroll">Contact</a></li>
<!--             <li data-menuanchor="fifthPage"><a href="#fifthPage"  class="page-scroll">Clients</a></li>
            <li data-menuanchor="sixthPage"><a href="#sixthPage"   class="page-scroll">Portfolio</a></li>
            <li data-menuanchor="lastPage"><a href="#lastPage"  class="page-scroll">Contact</a></li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div id="fp-nav" class="right" style="margin-top: -32px;">
	<ul>
		<li><a href="#firstPage" data-menuanchor="firstPage" class=""><span></span></a></li>
		<li><a href="#secondPage" data-menuanchor="secondPage" class=""><span></span></a></li>
		<li><a href="#thirdPage" data-menuanchor="thirdPage" class=""><span></span></a></li>
		<li><a href="#forthPage" data-menuanchor="fourthPage" class=""><span></span></a></li>
<!--     <li ><a href="#fifthPage" data-menuanchor="fifthPage" class=""><span></span></a></li>
    <li><a href="#sixthPage"  data-menuanchor="sixthPage" class=""><span></span></a></li>
    <li><a href="#lastPage"  data-menuanchor="lastPage" class=""><span></span></a></li> -->
	</ul>
</div>

    <!-- Home Page
    ==========================================-->
<div id="fullpage">
  <div class="section">
    <div class="container">
      <div class="row">
        <video autoplay loop muted poster="" id="bgvid">
          <source src="https://s3-us-west-1.amazonaws.com/tglucky13/bkgrd_OL_HB.webmhd.webm" type="video/webm">
            <source src="https://s3-us-west-1.amazonaws.com/tglucky13/bkgrd_OL_HB.mp4" type="video/mp4">
            </video>
            <div id="tf-home" class="text-center">
              <div class="overlay">
                <div class="content">
                  <div class="col-md-2 col-md-offset-2">
                    <%= image_tag("TGII.svg", :alt => "...", :class => "logo center-block img-responsive") %>
                  </div>
                  <div class="col-md-7">
                    <section class="cd-intro">
                      <h1 class="cd-headline clip is-full-width">
                        <span class="hello">Hi, I'm Trent</span>
                        <span class="cd-words-wrapper">
                          <b class="is-visible">Front-end Developer</b>
                          <b>Graphic Designer</b>
                          <b>Problem Solver</b>
                        </span>
                      </h1>
                    </section> <!-- cd-intro -->
                  </div><!-- col-md-6 -->
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <a class="mouse-scroll" href="#">
                          <span class="mouse">
                            <span class="mouse-movement"> 
                            </span>
                          </span>
                          <span class="mouse-message fadeIn">scroll</span>
                        </a>
                      </div><!--col-md-6-->
                    </div><!--row-->
                  </div><!--container-->    
                </div><!--content-->
              </div><!--overlay-->
            </div><!--tf home-->
          </div><!--row-->
        </div><!--container-->
  </div> <!--Section-->
    <!-- About Me
    ==========================================-->
 <div data-menuanchor="secondPage" class="section" style="z-index: 4;">
  <div id="tf-about">
    <div class="container">
      <div class="row">
       <div class="col-md-12"> 
         <div class="section-title center">
          <h1 class="section-headline"><strong>About</strong></h1>
        </div><!-- section title center-->
      </div><!--col-md-12-->
    </div> <!-- row 1 -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="intro">  My name is Trent Gardner and I am a front-end developer/graphic designer based in N. California. I have had the opportunity to design, develop and impliment a variety of sites and solutions including some for a Grammy award winning band. I also create a wide array of print and digital designs including full CD packages, posters, T-shirts, etc. some of which is currently on tour. I am constantly improving my knowledge base, skills and have a passion for getting things right.</p>
      </div> <!--col-md-10-->
    </div> <!-- row 2 -->
        <!-- Tools -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
          <div class="col-md-3">
            <h4>Tools</h4>
          </div> <!-- col-md-3 -->  
          <div class="col-md-9">
            <ul class="tool-list">
              <li class="cc-icon"></li>
              <li class="cc-icon"></li>
              <li class="cc-icon"></li>
              <li class="cc-icon"></li>
              <li class="ruby-icon"></li>
              <li><i class="icon ion-social-sass"></i></li>
              <li><i class="icon ion-social-github"></i></li>
            </ul>  
          </div> <!-- col-md-9 -->  
        </div> <!--col-md-10-->
      </div> <!-- row 3-->
       <!-- Competencies -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
          <div class="col-md-3">
            <h4>Competencies</h4>
          </div> <!-- col-md-3 -->  
          <div class="col-md-9">
            <ul class="comp">
              <li>html</li>
              <li>css</li>
              <li>javascript</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>  
          </div> <!-- col-md-9 -->  
        </div> <!--col-md-10-->
      </div> <!-- row 4-->
      <!-- Resume -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
          <div class="col-md-3">
            <h4>Resume</h4>
          </div> <!-- col-md-3 -->  
          <div class="col-md-9">
            <ul class="resume">
              <li><i class="icon ion-android-download"></i></li>
            </ul>  
          </div> <!-- col-md-9 -->  
        </div> <!--col-md-10-->
      </div> <!-- row 5-->
    </div> <!--container-->
  </div> <!--tf-about--> 
</div> <!-- section -->
    <!-- Team Page
    ==========================================-->
   <div data-menuanchor="thirdPage" class="section">
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

             
                
            </div>
        </div>
    </div>
</div> <!--section-->
    <!-- Services Section
    ==========================================-->
  <div data-menuanchor="fourthPage" class="section">
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Take a look at <strong>our services</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-desktop"></i>
                    <h4><strong>Web design</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Mobile Apps</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-camera"></i>
                    <h4><strong>Photography</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullhorn"></i>
                    <h4><strong>Marketing</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>
            </div>
        </div>
    </div>
  </div><!--section-->
    <!-- Clients Section
    ==========================================-->
 <div class="section">
    <div id="tf-clients" class="text-center"> 
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>Some of <strong>My Clients</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                       <%= image_tag("clients/01.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/02.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/03.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/04.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/05.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/06.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                    <div class="item">
                         <%= image_tag("clients/07.png", :alt => "...", :class => "img-responsive") %>
                    </div>
                </div>

            </div>
        </div>
    </div>
   </div><!--section-->
 

    <!-- Portfolio Section
    ==========================================-->
  <div class="section">
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Take a look at <strong>our services</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
            </div>
            <div class="space"></div>

            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">Web Design</a></li>
                            <li><a href="#" data-filter=".photography">Photography</a></li>
                            <li><a href="#" data-filter=".app" >Mobile App</a></li>
                            <li><a href="#" data-filter=".branding" >Branding</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                              <%= image_tag("portfolio/01.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/02.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/03.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/04.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/05.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/06.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <%= image_tag("portfolio/07.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                               <%= image_tag("portfolio/08.jpg", :alt => "...", :class => "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div><!--section-->
    

    <!-- Contact Section
    ==========================================-->
  <div class="section">
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Feel free to <strong>contact us</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>            
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
    

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Lucky 13 Designs © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://github.com/oldlucky13"><i class="fa fa-github"></i></a></li>
                    <!--<li><a href="https://instagram.com/oldlucky13/"><i class="fa fa-instagram"></i></a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</div> <!--section-->

  </div> <!--fullpage--> 
  