<!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="index.html">Trent G<span>.</span></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav ">
            <li data-menuanchor="firstPage"><a href="#firstPage" class="page-scroll">Home</a></li>
            <li data-menuanchor="secondPage"><a href="#secondPage"  class="page-scroll">About</a></li>
            <li data-menuanchor="thirdPage"><a href="#thirdPage"  class="page-scroll">Demo</a></li>
            <li data-menuanchor="fourthPage"><a href="#fourthPage"  class="page-scroll">Contact</a></li>
<!--             <li data-menuanchor="fifthPage"><a href="#fifthPage"  class="page-scroll">Clients</a></li>
            <li data-menuanchor="sixthPage"><a href="#sixthPage"   class="page-scroll">Portfolio</a></li>
            <li data-menuanchor="lastPage"><a href="#lastPage"  class="page-scroll">Contact</a></li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div id="fp-nav" class="right" style="margin-top: -32px;">
	<ul>
		<li><a href="#firstPage" data-menuanchor="firstPage" class=""><span></span></a></li>
		<li><a href="#secondPage" data-menuanchor="secondPage" class=""><span></span></a></li>
		<li><a href="#thirdPage" data-menuanchor="thirdPage" class=""><span></span></a></li>
		<li><a href="#forthPage" data-menuanchor="fourthPage" class=""><span></span></a></li>
<!--     <li ><a href="#fifthPage" data-menuanchor="fifthPage" class=""><span></span></a></li>
    <li><a href="#sixthPage"  data-menuanchor="sixthPage" class=""><span></span></a></li>
    <li><a href="#lastPage"  data-menuanchor="lastPage" class=""><span></span></a></li> -->
	</ul>
</div>

    <!-- Home Page
    ==========================================-->
<div id="fullpage">
  <div class="section">
    <div class="container">
     
      <video autoplay loop muted poster="<%= image_path("TGMXposterimg_mini.jpg") %>" id="bgvid">
          <source src="https://s3-us-west-1.amazonaws.com/tglucky13/TG-MexicoCityHB.webmsd.webm" type="video/webm">
            <source src="https://s3-us-west-1.amazonaws.com/tglucky13/TG-MexicoCityHB.mp4" type="video/mp4">
            </video>
            <div class="row">
            <div id="tf-home" class="text-center">
              <div class="overlay">
                
                <div class="content">
                  <div class="col-md-12 intro-absolute">
                    <section class="cd-intro">
                      <h1 class="cd-headline clip is-full-width">
                        <span class="hello">Hi, I'm Trent</span>
                        <span class="cd-words-wrapper">
                          <b class="is-visible">Front-end Developer</b>
                          <b>Graphic Designer</b>
                          <b>Problem Solver</b>
                        </span>
                      </h1>
                    </section> <!-- cd-intro -->
                  </div><!-- col-md-6 -->
                  <div class="container mouse-absolute">
                    <div class="row">
                      <div class="col-md-12">
                        <a class="mouse-scroll" href="#">
                          <span class="mouse">
                            <span class="mouse-movement"> 
                            </span>
                          </span>
                          <span class="mouse-message fadeIn">scroll</span>
                        </a>
                      </div><!--col-md-6-->
                    </div><!--row-->
                  </div><!--container-->    
                </div><!--content-->
              </div><!--overlay-->
            </div><!--tf home-->
          </div><!--row-->
        </div><!--container-->
  </div> <!--Section-->
    <!-- About Me
    ==========================================-->
 <div data-menuanchor="secondPage" class="section" style="z-index: 4;">
  <div id="tf-about">
    <div class="container">
      <div class="row">
       <div class="col-md-12"> 
         <div class="section-title center">
          <h1 class="section-headline"><strong>About</strong></h1>
        </div><!-- section title center-->
      </div><!--col-md-12-->
    </div> <!-- row 1 -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="intro">  My name is Trent Gardner and I am a front-end developer/graphic designer based in N. California. I have had the opportunity to design, develop and impliment a variety of sites and solutions including some for a Grammy award winning band. I also create a wide array of print and digital designs including full CD packages, posters, T-shirts, etc. some of which is currently on tour. I am constantly improving my knowledge base and skills and have a passion for getting things right.</p>
      </div> <!--col-md-10-->
    </div> <!-- row 2 -->
        <!-- Tools -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
          <div class="col-md-3">
            <h4>Tools</h4>
          </div> <!-- col-md-3 -->  
          <div class="col-md-9">
           <ul class="tool-list">
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Photoshop"><%= image_tag("icons/PS.svg", :alt => "Photoshop", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Illustrator"><%= image_tag("icons/AI.svg", :alt => "Illustrator", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Indesign"><%= image_tag("icons/ID.svg", :alt => "Indesign", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="After Effects"><%= image_tag("icons/AE.svg", :alt => "After Effects", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Ruby on Rails"><%= image_tag("icons/RR.svg", :alt => "Ruby on Rails", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Ruby"><%= image_tag("icons/RubyGem.svg", :alt => "Ruby", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Bootstrap"><%= image_tag("icons/bootstrap.svg", :alt => "Bootstrap", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Sass"><%= image_tag("icons/sass.svg", :alt => "Sass", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Github"><%= image_tag("icons/Github.svg", :alt => "Github", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Command Line"><%= image_tag("icons/CLI.svg", :alt => "Command Line", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Wordpress"><%= image_tag("icons/WP.svg", :alt => "Wordpress", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Heroku"><%= image_tag("icons/HK.svg", :alt => "Heroku", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Sublime Text"><%= image_tag("icons/sublime.svg", :alt => "Sublime Text", :class => " img-responsive" ) %></li>
                    <li class="toolListIcon"  data-toggle="tooltip"  data-placement="top" title="Nitrous Pro IDE"><%= image_tag("icons/Nitrous.svg", :alt => "Nitrous", :class => " img-responsive" ) %></li>
            </ul> 
          </div> <!-- col-md-9 -->  
        </div> <!--col-md-10-->
      </div> <!-- row 3-->
       <!-- Competencies -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
          <div class="col-md-3">
            <h4>Competencies</h4>
          </div> <!-- col-md-3 -->  
          <div class="col-md-9">
            <ul class="comp-list">
              <li class="comp">html</li>
              <li class="comp">css</li>
              <li class="comp">javascript</li>
              <li class="comp">command line</li>
              <li class="comp">ror</li>
              <li class="comp">wordpress</li>
              <li class="comp">graphic/print design</li>
            </ul>  
          </div> <!-- col-md-9 -->  
        </div> <!--col-md-10-->
      </div> <!-- row 4-->
      <!-- Resume -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 " style="margin-top:30px;">
           <div class="box">
             <button class="button button--naira button--round-s button--border-thin "><i class="button__icon icon ion-android-download"></i><span>Download Résumé</span></button>
          </div>
        </div> <!--col-md-10-->
      </div> <!-- row 5-->
    </div> <!--container-->
  </div> <!--tf-about--> 
</div> <!-- section -->
<!-- Demo Page
    ==========================================-->
<div data-menuanchor="thirdPage" class="section" >
  <div id="tf-demo" class="text-center">
     <div class="section-title center">
       <h1 class="section-headline"><strong>Demo</strong></h1>
            <p class="demo-text">Selected Works</p>
     </div><!--section-title-->
  
  </div><!--tf-demo--> 
     <div class="slide"><!--slide -->
       <div class="container">
         <div class="row">
           <div class="col-md-7 ">
             <%= image_tag("sliders/slider_LLO.jpg", :alt => "", :class => "img-responsive slide-image" ) %> 
           </div><!--col-md-7 slide 1-->
           <div class="col-md-5">
             <h2 class="project-title">Project Title</h2>
              <p class="project-text">Bacon ipsum dolor amet brisket shankle ham hock jowl pork chop t-bone pancetta pork ground round strip steak drumstick landjaeger meatloaf tri-tip. Pork filet mignon turkey pancetta salami spare ribs beef ribs cupim andouille cow bacon swine, venison ground round jowl.</p>
           </div><!--col-md-5 slide 1-->  
         </div><!--row-->
       </div> <!--Container-->
     </div><!--slide 1-->
     <div class="slide">
       <div class="container">
         <div class="row">
           <div class="col-md-7 ">
             <%= image_tag("sliders/slider_LLO.jpg", :alt => "", :class => "img-responsive slide-image" ) %> 
           </div><!--col-md-7 slide 2-->
           <div class="col-md-5">
             <h2 class="project-title">Project Title</h2>
              <p class="project-text">Bacon ipsum dolor amet brisket shankle ham hock jowl pork chop t-bone pancetta pork ground round strip steak drumstick landjaeger meatloaf tri-tip. Pork filet mignon turkey pancetta salami spare ribs beef ribs cupim andouille cow bacon swine, venison ground round jowl.</p>
           </div><!--col-md-5 slide 2-->  
         </div><!--row-->
       </div> <!--Container-->
     </div><!--slide 2-->
     <div class="slide">
      <div class="container">
         <div class="row">
          <div class="col-md-7 ">
             <%= image_tag("sliders/slider_LLO.jpg", :alt => "", :class => "img-responsive slide-image" ) %> 
           </div><!--col-md-7 slide 3-->
           <div class="col-md-5">
             <h2 class="project-title">Project Title</h2>
              <p class="project-text">Bacon ipsum dolor amet brisket shankle ham hock jowl pork chop t-bone pancetta pork ground round strip steak drumstick landjaeger meatloaf tri-tip. Pork filet mignon turkey pancetta salami spare ribs beef ribs cupim andouille cow bacon swine, venison ground round jowl.</p>
           </div><!--col-md-5 slide 3-->  
         </div><!--row-->
       </div> <!--Container-->
     </div><!--slide 3-->
     <div class="slide">
       <div class="container">
         <div class="row">
          <div class="col-md-7 ">
             <%= image_tag("sliders/slider_LLO.jpg", :alt => "", :class => "img-responsive slide-image" ) %> 
           </div><!--col-md-7 slide 4-->
           <div class="col-md-5">
             <h2 class="project-title">Project Title</h2>
              <p class="project-text">Bacon ipsum dolor amet brisket shankle ham hock jowl pork chop t-bone pancetta pork ground round strip steak drumstick landjaeger meatloaf tri-tip. Pork filet mignon turkey pancetta salami spare ribs beef ribs cupim andouille cow bacon swine, venison ground round jowl.</p>
           </div><!--col-md-5 slide 4-->  
         </div><!--row-->
       </div> <!--Container-->
     </div><!--slide 4--> 
</div> <!--section-->
    <!-- Contacts Section
    ==========================================-->
  <div data-menuanchor="fourthPage" class="section" >
    <div id="tf-contact" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h1 class="section-headline"><strong>Contact</strong></h1>
                <div class="col-md-10 col-md-offset-1">
                    <p class="contact-text">Currently available for freelance work...contact me!</p>  
                <div class="clearfix"></div>
                </div> <!--col-md-10-->
            </div><!--section title-->
            <div class="space"></div>
          <%= render 'contacts/new' %>
        </div><!---container-->
    </div><!--tf-contact-->
  
    
<!--Footer-->
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Trent Gardner II © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://github.com/oldlucky13"><i class="fa fa-github"></i></a></li>
                    <!--<li><a href="https://instagram.com/oldlucky13/"><i class="fa fa-instagram"></i></a></li>-->
                </ul>
            </div>
        </div>
    </nav><!--footer-->
    </div><!--section-->
  </div> <!--fullpage--> 
  