<div class="row">
  
  <div class="col-md-8 col-md-offset-2">
      <%= form_for :contact, url: contacts_path, :html => { :id => "contact_form" , :class => "cbp-mc-form"}  do |f| %>
        <div class="form-group form-inline col-sm-6">
            <%= f.text_field :name, class: 'form-control ', :placeholder => "Name"   %> 
        </div> <!--form group 1-->
        <div class="form-group form-inline col-sm-6">
            <%= f.email_field :email, class: 'form-control ', :placeholder => "Email" %>
        </div> <!--form group 2-->
        <div class="form-group form-inline col-sm-12">
            <%= f.text_area :message, class: 'form-control', :placeholder => "Message" %>
        </div> <!--form group 3-->
        <div class="form-group form-inline col-sm-12">
            <%= f.submit 'Submit', class: 'btn btn-default', :data => {:disable_with => "Saving..."} %>
        </div>
      <% end %>
    
  </div> <!--col-md-6-->
</div> <!--row-->